.jumbotron {
  color: #fff;
  background-color: #1B9AF7;
  padding: 100px 25px;
}

.panel {
  border-color: #1B9AF7;
}

#jumbotron {
  padding-bottom: 60px;
}

#myCarousel {
  margin-bottom: 50px;
}

#aboutUsImage {
  width: 100%;
}

#whoAreWeParagraph {
  padding-bottom: 20px;
}

#indoorsTitle {
  padding: 20px;
  color: #1B9AF7;
}

#outdoorsTitle {
  padding: 20px;
  color: #fff;
}

#stressingBox {
  background-color: #1B9AF7;
  color: #fff;
}

#stretchingImage {
  border-radius: 25px;
  margin-bottom: 20px;
}

#gameBox {
  background-color: #1B9AF7;
  color: #fff;
}

#gameImage {
  border-radius: 25px;
  margin-bottom: 20px;
}

#musicBox {
  background-color: #1B9AF7;
  color: #fff;
}

#musicImage {
  border-radius: 25px;
  margin-bottom: 20px;
}

#aboutUs {
  color: #fff;
  background-color: #1B9AF7;
  padding: 50px;
}

#outdoors {
  background-color: #1B9AF7;
  color: #fff;
}

#outdoorsListItem1 {
  color: #000;
}

#outdoorsListItem2 {
  color: #000;
}

#demoTitle {
  padding: 20px;
  color: #1B9AF7;
}

#apps {
  background-color: #1B9AF7;
  color: #fff;
}

#appTitle {
  padding: 20px;
}

#androidApp {
  margin-left: auto;
  margin-right: auto;
}

#iosApp {
  margin-left: auto;
  margin-right: auto;
}

footer {
  font-size: 20px;
  margin-bottom: 20px;
  color: #1B9AF7;
  background-color: #fff;
  padding: 20px;
}
